.wy-nav-content {
    max-width: max-content;
}
.wy-side-nav-search > a img.logo, .wy-side-nav-search .wy-dropdown > a img.logo {
    max-width: 75%;
}

body {
	font-family: sans-serif;
}

.wy-table-responsive > table > tbody > tr > td{
    white-space: normal;
}